<div class="checkbox">
    <input type="checkbox" id="poi_layer_visibility_<%- uuid %>" class="visibility_checkbox" value="1">
    <label for="poi_layer_visibility_<%- uuid %>">
        <div class="text-ellipsis">
            <%= name %>
        </div>
        <div class="help-block text-wrap">
            <%= description %>
        </div>
        <div class="help-block zoom_tip"></div>
        <div class="prepend-xs-tiny">
            <button class="btn btn-sm btn-link info_layer_btn">
                <i class="fa fa-info-circle"></i> En savoir plus
            </button>
        </div>
    </label>
    <%= marker %>
</div>
