<div class="form-group append-xs-2">
    <div class="input-group">
        <input type="text" class="form-control key" data-l10n-id="uiFormNodeTags_key" value="<%- key %>" spellcheck="false" autocomplete="on" autocorrect="off">
        <div class="input-group-btn">
            <a rel="noopener noreferrer" target="_blank" class="btn btn-info info_btn" tabindex="-1"><i class="fa fa-fw fa-info-circle"></i></a>
        </div>
    </div>
    <div class="text_input_group">
        <div class="input-group">
            <input type="text" class="form-control text_input" data-l10n-id="uiFormNodeTags_value" value="<%- value %>">
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
            </div>
        </div>
        <div class="help-block non_osm_warning hide" data-l10n-id="uiFormNodeTags_nonOsmContributionWarning"></div>
    </div>
    <div class="file_input_group">
        <div class="input-group">
            <input type="file" id="fileInput_<%- cid %>" name="fileInput_<%- cid %>" class="filestyle file_input">
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
            </div>
        </div>
        <div class="help-block current_file hide"></div>
        <div class="help-block max_file_size"><%- maxFileSize %></div>
        <div class="help-block non_osm_warning hide" data-l10n-id="uiFormNodeTags_nonOsmContributionWarning"></div>
    </div>
</div>
