<div class="input-group">
    <div class="radio radio-inline">
        <input type="radio" name="check-<%- cid %>" id="check-yes-<%- cid %>" class="yes_radio" value="1">
        <label for="check-yes-<%- cid %>" data-l10n-id="yes"></label>
    </div>
    <div class="radio radio-inline">
        <input type="radio" name="check-<%- cid %>" id="check-no-<%- cid %>" class="no_radio" value="1">
        <label for="check-no-<%- cid %>" data-l10n-id="no"></label>
    </div>
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
