<div class="input-group">
    <input type="file" id="fileInput_<%- cid %>_<%- key %>" name="fileInput_<%- cid %>_<%- key %>" class="filestyle" placeholder="<%- placeholder %>">
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger remove_btn" tabindex="-1"><i class="fa fa-fw fa-trash"></i></button>
    </div>
</div>
<div class="help-block current_file hide"></div>
<div class="help-block max_file_size append-xs-none"><%- maxFileSize %></div>
