<div class="form-group append-xs-2">
    <div class="rg_key"></div>
    <div class="rg_value"></div>
    <div class="help-block form-group-help-block non_osm_warning hide" data-l10n-id="uiFormNodeTags_nonOsmContributionWarning"></div>
    <div class="checkbox">
        <input type="checkbox" id="display_raw_tag_<%- cid %>" class="display_raw_tag" value="1">
        <label for="display_raw_tag_<%- cid %>" data-l10n-id="uiFormNodeTags_displayRawTag"></label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="nonOsmData_<%- cid %>" class="non_osm_data" value="1">
        <label for="nonOsmData_<%- cid %>" data-l10n-id="uiFormNodeTags_nonOsmData"></label>
    </div>
    <div class="checkbox key_read_only_group">
        <input type="checkbox" id="keyReadOnly_<%- cid %>" class="key_read_only" value="1">
        <label for="keyReadOnly_<%- cid %>" data-l10n-id="uiFormNodeTags_keyReadOnly"></label>
    </div>
    <div class="checkbox value_read_only_group">
        <input type="checkbox" id="valueReadOnly_<%- cid %>" class="value_read_only" value="1">
        <label for="valueReadOnly_<%- cid %>" data-l10n-id="uiFormNodeTags_valueReadOnly"></label>
    </div>
</div>
