<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title data-l10n-id="pageTitle">MapContrib</title>

    <%# Apple %>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/180x180.png">

    <%# Android %>
    <link rel="icon" type="image/png" sizes="36x36" href="/img/favicon/36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon/48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/img/favicon/72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/img/favicon/144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/img/favicon/256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/img/favicon/384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/img/favicon/512x512.png">

    <%# Global %>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/96x96.png">

    <link rel="manifest" href="/img/favicon/manifest.json">

    <link rel="localization" href="/locale/manifest.json">

    <style type="text/css">

    html, body {
        background-color: #eeeeec;
    }

    .empty-state {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -64px;
        margin-left: -64px;
        width: 128px;
        height: 128px;
    }

    </style>
</head>
<body>

<section id="rg_root">
    <img class="empty-state" src="/img/empty_state.gif" alt="" />
</section>

<link rel="stylesheet" href="/css/theme.bundle.css" charset="utf-8">

<script type="text/javascript">

// var MAPCONTRIB = {
//     'user': '<%- user %>',
//     'config': <%- config %>,
//     'version': '<%- version %>',
//     'theme': '<%- theme %>',
//     'nonOsmData': '<%- nonOsmData %>',
//     'osmCache': '<%- osmCache %>',
// };

var MAPCONTRIB = {
    'user': '<%- user %>',
    'config': {"oauthEndPoint":"https://api.openstreetmap.org","oauthConsumerKey":"T3jlmJTcXw6RiEtLQnkkssDIJy9frT5M3wrDUsDz","oauthSecret":"u3iMR5l8Ookvq1kdHHs59Fw9H3ztUCjGeRoZr1Bn","overPassEndPoint":"https://overpass-api.de/api/","overPassTimeout":120000,"overPassCacheEnabled":true,"overPassCacheFileSize":1048576,"taginfoServiceHost":"https://taginfo.openstreetmap.org/","largeScreenMinWidth":400,"largeScreenMinHeight":500,"shareIframeWidth":100,"shareIframeWidthUnit":"%","shareIframeHeight":500,"shareIframeHeightUnit":"px","newPoiMarkerShape":"marker3","newPoiMarkerIcon":"star","newPoiMarkerColor":"yellow","highlightedThemes":["s8c2d9","14710b","18fa92","8f3614","e5c83c"],"defaultGeocoder":"photon","availableGeocoders":["photon","nominatim"],"uploadMaxShapeFileSize":2048,"uploadMaxNonOsmDataFileSize":512,"overpassTimeout":120000},
    'version': '0.12.0',
    'theme': '%7B%22_id%22%3A%225735eda080de430100145dbd%22%2C%22creationDate%22%3A%222016-07-29T14%3A14%3A24.916Z%22%2C%22modificationDate%22%3A%222016-08-08T16%3A07%3A00.494Z%22%2C%22userId%22%3A%2255715d4f9b3e2ee80f3467d2%22%2C%22name%22%3A%22bird_hide%22%2C%22description%22%3A%22%21%5B%5D%28http%3A//wiki.openstreetmap.org/w/images/thumb/1/18/Belvide-gazebo.jpg/200px-Belvide-gazebo.jpg%29%5Cr%5Cn%22%2C%22color%22%3A%22purple%22%2C%22tiles%22%3A%5B%22osm%22%5D%2C%22zoomLevel%22%3A14%2C%22autoCenter%22%3Afalse%2C%22center%22%3A%7B%22lat%22%3A44.644414358821294%2C%22lng%22%3A-1.0273504257202146%7D%2C%22owners%22%3A%5B%2255715d4f9b3e2ee80f3467d2%22%5D%2C%22geocoder%22%3A%22photon%22%2C%22infoDisplay%22%3A%22column%22%2C%22analyticScript%22%3A%22%22%2C%22fragment%22%3A%22bd7484%22%2C%22layers%22%3A%5B%7B%22creationDate%22%3A%222016-07-29T14%3A14%3A24.916Z%22%2C%22modificationDate%22%3A%222016-08-08T16%3A07%3A00.476Z%22%2C%22uniqid%22%3A%225735edf580de430100145dbf%22%2C%22type%22%3A%22overpass%22%2C%22name%22%3A%22Cabanes%20d%u2019observation%22%2C%22description%22%3A%22%21%5B%5D%28http%3A//wiki.openstreetmap.org/w/images/thumb/1/18/Belvide-gazebo.jpg/200px-Belvide-gazebo.jpg%29%5Cr%5Cn%5Cr%5Cn%22%2C%22visible%22%3Atrue%2C%22dataEditable%22%3Atrue%2C%22minZoom%22%3A8%2C%22popupContent%22%3A%22%21%5B%5D%28http%3A//wiki.openstreetmap.org/w/images/thumb/1/18/Belvide-gazebo.jpg/200px-Belvide-gazebo.jpg%29%5Cr%5Cn%5Cr%5Cn%7Bleisure%7D%22%2C%22order%22%3A1%2C%22markerShape%22%3A%22marker1%22%2C%22markerColor%22%3A%22green%22%2C%22markerIconType%22%3A1%2C%22markerIcon%22%3A%22binoculars%22%2C%22markerIconUrl%22%3A%22%22%2C%22color%22%3A%22green%22%2C%22overpassRequest%22%3A%22%28%5Cr%5Cn%20%20node%5B%5C%22leisure%5C%22%3D%5C%22bird_hide%5C%22%5D%3B%5Cr%5Cn%20%20way%5B%5C%22leisure%5C%22%3D%5C%22bird_hide%5C%22%5D%3B%5Cr%5Cnrelation%5B%5C%22leisure%5C%22%3D%5C%22bird_hide%5C%22%5D%3B%5Cr%5Cn%29%3B%5Cr%5Cn%5Cr%5Cnout%20center%20body%3B%5Cr%5Cn%3E%3B%22%2C%22cache%22%3Atrue%7D%5D%2C%22presets%22%3A%5B%7B%22creationDate%22%3A%222016-07-29T14%3A14%3A24.916Z%22%2C%22modificationDate%22%3A%222016-07-29T14%3A14%3A24.916Z%22%2C%22uniqid%22%3A%225735f1ac80de430100145dc4%22%2C%22name%22%3A%22Cabane%20d%27observation%22%2C%22description%22%3A%22%21%5B%5D%28http%3A//wiki.openstreetmap.org/w/images/thumb/1/18/Belvide-gazebo.jpg/200px-Belvide-gazebo.jpg%29%22%2C%22order%22%3A1%2C%22tags%22%3A%5B%7B%22key%22%3A%22leidure%22%2C%22value%22%3A%22bird_hide%22%2C%22keyReadOnly%22%3Atrue%2C%22valueReadOnly%22%3Afalse%7D%5D%7D%2C%7B%22creationDate%22%3A%222016-08-05T15%3A41%3A06.017Z%22%2C%22modificationDate%22%3A%222016-08-05T15%3A45%3A40.919Z%22%2C%22uniqid%22%3A%223f5816f5-c24a-4301-a4ed-9f6a47ea8e50%22%2C%22name%22%3A%22Image%22%2C%22description%22%3A%22%22%2C%22order%22%3A2%2C%22tags%22%3A%5B%7B%22key%22%3A%22image%22%2C%22value%22%3A%22%22%2C%22keyReadOnly%22%3Atrue%2C%22valueReadOnly%22%3Afalse%2C%22nonOsmData%22%3Atrue%2C%22type%22%3A%22file%22%7D%2C%7B%22key%22%3A%22%22%2C%22value%22%3A%22%22%2C%22keyReadOnly%22%3Atrue%2C%22valueReadOnly%22%3Afalse%2C%22nonOsmData%22%3Afalse%2C%22type%22%3A%22text%22%7D%5D%7D%5D%7D',
    'nonOsmData': '%5B%7B%22_id%22%3A%2257a4b4be30bb931c00c7a336%22%2C%22creationDate%22%3A%222016-08-05T15%3A41%3A06.018Z%22%2C%22modificationDate%22%3A%222016-08-05T15%3A46%3A06.648Z%22%2C%22osmId%22%3A281082021%2C%22osmType%22%3A%22way%22%2C%22userId%22%3A%222568974%22%2C%22themeFragment%22%3A%22bd7484%22%2C%22tags%22%3A%5B%7B%22key%22%3A%22image%22%2C%22value%22%3A%22/files/theme/bd7484/nonOsmData/capture%20du%202015-12-17%2023%3A38%3A48.png%22%2C%22type%22%3A%22file%22%7D%5D%7D%2C%7B%22_id%22%3A%2257a4b4ea30bb931c00c7a338%22%2C%22creationDate%22%3A%222016-08-05T15%3A41%3A06.018Z%22%2C%22modificationDate%22%3A%222016-08-05T15%3A46%3A50.756Z%22%2C%22osmId%22%3A279790575%2C%22osmType%22%3A%22way%22%2C%22userId%22%3A%222568974%22%2C%22themeFragment%22%3A%22bd7484%22%2C%22tags%22%3A%5B%7B%22key%22%3A%22image%22%2C%22value%22%3A%22/files/theme/bd7484/nonOsmData/0.png%22%2C%22type%22%3A%22file%22%7D%5D%7D%5D',
    'osmCache': '%5B%7B%22_id%22%3A%2257a4b4c130bb931c00c7a337%22%2C%22creationDate%22%3A%222016-08-05T15%3A41%3A06.018Z%22%2C%22modificationDate%22%3A%222016-08-05T15%3A46%3A09.228Z%22%2C%22osmId%22%3A281082021%2C%22osmType%22%3A%22way%22%2C%22osmVersion%22%3A%223%22%2C%22osmElement%22%3A%7B%22type%22%3A%22way%22%2C%22attributes%22%3A%7B%22id%22%3A281082021%2C%22visible%22%3A%22true%22%2C%22version%22%3A%223%22%2C%22changeset%22%3A41262444%2C%22timestamp%22%3A%222016-08-05T15%3A46%3A06.664Z%22%2C%22uid%22%3A%222568974%22%2C%22display_name%22%3A%22Vinber-Num%26Lib%22%7D%2C%22tags%22%3A%5B%7B%22k%22%3A%22leisure%22%2C%22v%22%3A%22bird_hide%22%7D%2C%7B%22k%22%3A%22building%22%2C%22v%22%3A%22yes%22%7D%2C%7B%22k%22%3A%22source%22%2C%22v%22%3A%22cadastre-dgi-fr%20source%20%3A%20Direction%20G%E9n%E9rale%20des%20Finances%20Publiques%20-%20Cadastre.%20Mise%20%E0%20jour%20%3A%202014%22%7D%2C%7B%22k%22%3A%22wall%22%2C%22v%22%3A%22no%22%7D%5D%2C%22nds%22%3A%5B%7B%22ref%22%3A%222850922458%22%7D%2C%7B%22ref%22%3A%222850922459%22%7D%2C%7B%22ref%22%3A%222850922454%22%7D%2C%7B%22ref%22%3A%222850922453%22%7D%2C%7B%22ref%22%3A%222850922455%22%7D%2C%7B%22ref%22%3A%222850922458%22%7D%5D%2C%22members%22%3A%5B%5D%7D%2C%22overPassElement%22%3A%7B%22type%22%3A%22way%22%2C%22tags%22%3A%7B%22leisure%22%3A%22bird_hide%22%2C%22building%22%3A%22yes%22%2C%22source%22%3A%22cadastre-dgi-fr%20source%20%3A%20Direction%20G%E9n%E9rale%20des%20Finances%20Publiques%20-%20Cadastre.%20Mise%20%E0%20jour%20%3A%202014%22%2C%22wall%22%3A%22no%22%7D%2C%22id%22%3A281082021%2C%22visible%22%3A%22true%22%2C%22version%22%3A%223%22%2C%22changeset%22%3A41262444%2C%22timestamp%22%3A%222016-08-05T15%3A46%3A06.664Z%22%2C%22uid%22%3A%222568974%22%2C%22display_name%22%3A%22Vinber-Num%26Lib%22%7D%2C%22userId%22%3A%222568974%22%2C%22themeFragment%22%3A%22bd7484%22%7D%5D',
};</script>
<script type="text/javascript" charset="utf-8" src="/js/theme.bundle.js"></script>

<%- analyticScript %>

<%- themeAnalyticScript %>

</body>
</html>
