<a class="ui-theme-thumb-theme" href="<%- href %>">
    <h2 class="title colored <%- color %>">
        <%- name %>
    </h2>
    <div class="ui-theme-thumb-layers">
        <img class="ui-theme-thumb-tile-1" src="http://a.tile.openstreetmap.fr/osmfr/<%- z %>/<%- x1 %>/<%- y1 %>.png" alt="" />
        <img class="ui-theme-thumb-tile-2" src="http://a.tile.openstreetmap.fr/osmfr/<%- z %>/<%- x2 %>/<%- y2 %>.png" alt="" />
        <img class="ui-theme-thumb-tile-3" src="http://a.tile.openstreetmap.fr/osmfr/<%- z %>/<%- x3 %>/<%- y3 %>.png" alt="" />
    </div>
</a>
