<iframe src="<%- url %>" width="<%- iframeWidth %><%- iframeWidthUnit %>" height="<%- iframeHeight %><%- iframeHeightUnit %>" frameBorder="0"></iframe><p><a href="<%- url %>"><%- subLinkMessage %></a></p>
