<div class="checkbox">
    <input type="checkbox" id="poi_layer_visibility_<%- uniqid %>" class="visibility_checkbox" value="1">
    <label for="poi_layer_visibility_<%- uniqid %>">
        <button class="btn btn-link info_layer_btn">
            <i class="fa fa-info-circle fa-lg"></i>
        </button>
        <div class="text-ellipsis">
            <%= name %>
        </div>
        <div class="help-block text-wrap">
            <%= description %>
        </div>
        <div class="help-block zoom_tip"></div>
    </label>
    <%= marker %>
</div>
