<div class="checkbox append-xs-1">
    <input type="checkbox" id="tile_<%- id %>" class="tile_checkbox" value="<%- id %>"<%- checked %>>
    <label for="tile_<%- id %>">
        <figure>
            <%= thumbnailHtml %>
        </figure>
        <figcaption>
            <div>
                <%= name %>
            </div>
            <div class="max_zoom">
                <%= maxZoom %>
            </div>
        </figcaption>
    </label>
</div>
